body { background-color: #EEE; }
h1   { color: #FA3B3B;         }
a {
    text-decoration:  none;
    color:            #FA3B3B;
    background-color: #CCC;
    border-bottom:    3px solid #AAA;
    border-top:       3px solid #AAA;
}