body { background-color: #EEE; font-size: 12px; }
h1 {
    background-color: #CCC;
    color:            #FA3B3B;
    font-size:        24px;
}
a {
    background-color: #CCC;
    color:            #FA3B3B;
    text-decoration:  none;
    border-bottom:    3px solid #AAA;
    border-top:       3px solid #AAA;
}