$bgcolor:    #EEE;
$size:       12px;
$accents:    #FA3B3B;
$accentbg:   #CCC;
$linkborder: 3px solid #AAA;

body { background-color: $bgcolor; font-size: $size; }
h1 {
    background-color: $accentbg;
    color:            $accents;
    font-size:        $size * 2;
}
a {
    background-color: $accentbg;
    color:            $accents;
    text-decoration:  none;
    border-bottom:    $linkborder;
    border-top:       $linkborder;
}